:root{
    --color:white;
}

.content-mensajes{
    overflow-x: hidden;
    overflow-y: auto;
}
::-webkit-scrollbar{
    position: relative;

}
::-webkit-scrollbar-thumb{

    border-radius: 10px;
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
}
.content-mensajes::-webkit-scrollbar{
    /*
    
    Modificando el scroll
    */
    position: relative;
    width: 15px;
    /*
    background:rgba(0,0,0,0.1);
    */

}
.content-mensajes::-webkit-scrollbar-thumb{

    border-radius: 10px;
    /*background: linear-gradient(45deg,red,orange);
*/
/*background: url('https://66.media.tumblr.com/3301a13ac3fcadfba8ccb2d6682e7701/tumblr_mmsbznkKXL1rx5rfmo1_500.gifv');
*/
background: white;
}
.fondoPantalla{
    background: #ef32d9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}